name: Standard CI
on: push
jobs:
  lint:
    name: Build Test and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run Lint
        run: npm run lint

      - name: Run Test
        run: npm run test

      - name: Run Build
        run: npm run build

      - name: Deploy
        run: npm run deploy
  build-test:
    name: Build Test and Deploy
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run Lint
        run: npm run lint

      - name: Run Test
        run: npm run test

      - name: Run Build
        run: npm run build

      - name: Deploy
        run: npm run deploy